doctype html
html(lang="en")
  head
    title= pageTitle
    link(href="dist/css/style.min.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
  body

    h1#mainTitle Star wars species
    #loading
      img(src="dist/img/darth-vader.png", alt="loading", class="run-infiniteRotateX")
      span Loading...
      q Your focus determine your reality
    #homepage
    #detailpage

    template#home
      .species
        h3.name
        p.classification
        p.language
        a(href="#")
          i.fa.fa-chevron-right.fa-2x

    template#detail
      .species_detail
        h3.name
        p.classification
        p.designation
        p.average_height
        p.skin_colors
        p.hair_colors
        p.eye_colors
        p.average_lifespan
        p.language
        a(href="#")
          i.fa.fa-close.fa-2x

    script(type="text/javascript", src="dist/js/script.min.js")
    //- script(type='text/javascript', src="dist/js/helper.js")
    //- script(type='text/javascript', src="dist/js/routes.js")
    //- script(type='text/javascript', src="dist/js/model.js")
    //- script(type='text/javascript', src="dist/js/view.js")
    //- script(type='text/javascript', src="dist/js/controller.js")
    //- script(type='text/javascript', src="dist/js/app.js")