.species_detail {
	color: white;
	width: 80%;
	
	border: 3px solid white;
	margin: auto;
	padding: 0 1em 1.4em 1em;
	color: white;
	position: relative;
	margin-bottom: 1em;
	@include roundedCorners(10px);
	a {
		position: absolute;
		right: 1em;
		top: 2em;
		margin-top: -1em;
		color: white;
		cursor: pointer;
	}
}