
.species {
	width: 80%;
	height: 7em;
	border: 3px solid white;
	margin: auto;
	padding: 0 1em 1.4em 1em;
	color: white;
	position: relative;
	margin-bottom: 1em;
	@include roundedCorners(10px);
	a {
		position: absolute;
		right: 2em;
		top: 50%;
		margin-top: -1em;
		color: white;
		cursor: pointer;
	}

	&:hover {
		border: 3px solid #0074D9;
		color: #0074D9;
		a {
			text-decoration: none;
			color: #0074D9;
		}
	}
}