@mixin roundedCorners($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
       -o-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

