@import url(https://fonts.googleapis.com/css?family=Lobster|Montserrat);

$bg_color : #111111;

@import 'mixins';
@import 'animations';
@import 'homepage';
@import 'detailpage';

html {
	height: 100%;
}
body {
	background: $bg_color;
	font-family: Montserrat, Futura, Arial;
}

h1#mainTitle {
	font-family: Lobster, Montserrat, Futura, Arial;
	color: white;
	text-align: center;
	font-size: 3em;
}

#loading {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-image: radial-gradient(#FFF 0%, #000 100%);

    img {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	width: 128px;
    	height: 128px;
    	margin-top : -80px;
    	margin-left: -64px;
    }
    q {
    	position: absolute;
    	top: 65%;
    	text-align: center;
    	display: block;
    	width: 100%;
    }
    span {
    	position: absolute;
    	top: 60%;
    	text-align: center;
    	display: block;
    	width: 100%;
    }
}